//starting from the top down, with the exception of the parallax
.parallax {
    min-height: 1000px;
    background-image: url("../images/mainimg.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.menuindex {
    height: 500px;
    max-width: 75%;
    @media screen and (min-width: 320px) and (max-width: 767px) {
        height: 500px;
    }

    @media screen and (min-width: 768px) and (max-width: 920px) {
        height: 500px;
    }
    background-color:white;
    font-size: 36px;

    margin: 0 auto;
    margin-left: 20%;
    margin-top: 72px;

    @media screen and (min-width: 320px) and (max-width: 767px) {
        margin-left: 0px;
        margin-top: 0px;
    }
}

#banner {
    min-height: 70px;
    background: url("../images/bannerbatonrouge.png");
}

#bannerImage {
    min-height: 68px;
    max-width: 255px;
    margin-left: 45%;
    @media screen and (min-width: 320px) and (max-width: 767px) {
        margin-left: auto;
    }

    @media screen and (min-width: 768px) and (max-width: 920px) {
        margin-left: 37%;
    }
    background: url("../images/logopc1.png");
    background-repeat: no-repeat;
}

%fontdetails {
    font-family: Quicksand;
    font-style: normal; 
}
.imgCenter {
    @extend %fontdetails;
    font-size: 72px;
    font-weight: bold;
    color: white;
    text-align: center;

    min-height:349px;
    min-width: 284px;
    max-height: 399px;
    max-width: 619px;

    margin-top: 15%;
    margin-left: 35%;
    @media screen and (min-width: 320px) and (max-width: 767px) {
        margin-left: auto;
    }

    @media screen and (min-width: 768px) and (max-width: 920px) {
        margin-left: 20%;
    }
}

.rectangle {
    width: 356px;
    height: 306px;

    float: left;
    margin: 20px auto;
    margin-left: 10px;
    margin-right: 10px;

    background: #ffffff;
    border: 3px solid #f25d27;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
}

.mobile_rect {
    float: none;
    width: 284px;
    height: 208px;
    margin-left: 10px;
    margin-top: 20px;

    background: #ffffff;
    border: 3px solid #f25d27;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
}

.boxnumber {
    @extend %fontdetails;
    //position: absolute;
    width: 59px;
    height: 68px;

    margin: 0 auto;
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 0px;

    font-weight: bold;
    font-size: 4.5rem;
}

.boxtext {
    @extend %fontdetails;
    float: left;
    width: 219px;
    height: 213px;

    margin-top: 39px;
    margin-left: 78px;
    margin-right: 59px;
    margin-bottom: 54px;

    font-weight: normal;
    font-size: 1.5rem;
    line-height: 30px;

    @media screen and (min-width: 320px) and (max-width: 767px) {
        float: none;
        height: 120px;
        margin-top: -50px;
        margin-bottom: 0px;
        margin-left: 45px;
        margin-right: 0px;
    }
    @media screen and (min-width: 768px) and (max-width: 920px) {
        float: none;
        margin-top: -30px;
        margin-bottom: 0px;
        margin-left: 80px;
        margin-right: 0px;
    }
}

.nav {
    @extend %fontdetails;
    float: left;
    font-weight: bold;
    
    margin-left: 40px;
    margin-top: 10px;

    border: 2px solid #c4c4c4;
    border-radius: 10px;
}

#footer {
    position: fixed;
    bottom: 0;
    min-height: 61px;
    min-width: 100%;
    background: lightgray;
}

#footerImg {
    min-height: 12px;
    background: url("../images/PCFooter.png");
    background-repeat: no-repeat;
    margin-left: 47%;
    margin-top: 2%;
    @media screen and (min-width: 320px) and (max-width: 767px) {
        margin-left: 30%;
    }
    @media screen and (min-width: 768px) and (max-width: 920px) {
        margin-left: 40%;
    }
}
